### [CORE] ###
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_NETDEVICES=y

### [WIRELESS] ###
CONFIG_WIRELESS=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_CFG80211_WEXT=y
CONFIG_NL80211_TESTMODE=y
CONFIG_MAC80211_DEBUGFS=y
CONFIG_MAC80211_VERBOSE_DEBUG=y
CONFIG_WLAN_VENDOR_ATH=y
CONFIG_ATH9K=y
CONFIG_ATH9K_HTC=y
CONFIG_ATH9K_HWRNG=y
CONFIG_ATH9K_WOW=y
CONFIG_ATH9K_CHANNEL_CONTEXT=y
CONFIG_ATH9K_DEBUGFS=y
CONFIG_RTL8187=y
CONFIG_RTL8188EU=m
CONFIG_RTL8192CU=m
CONFIG_RTL8812AU=m
CONFIG_RTL8821CU=m
CONFIG_RTL8XXXU=m

### [MEDIATEK SPECIFIC] ###
CONFIG_MTK_SOC=y
CONFIG_MTK_WIFI_ONLY=y
CONFIG_MTK_COMBO=y
CONFIG_MTK_COMBO_WIFI=y
CONFIG_MTK_COMBO_BT=y
CONFIG_MTK_BTIF=y
CONFIG_MTK_BTIF_MTK_BT=y
CONFIG_MTK_CONN_LTE_IDC_SUPPORT=y

### [USB GADGETS] ###
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_ACM=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_ECM=y
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_USB_CONFIGFS_F_MIDI=y
CONFIG_USB_CONFIGFS_F_PRINTER=y
CONFIG_USB_CONFIGFS_F_UVC=y
CONFIG_USB_CONFIGFS_F_ACC=y
CONFIG_USB_CONFIGFS_F_AUDIO_SRC=y
CONFIG_USB_CONFIGFS_F_MTP=y
CONFIG_USB_CONFIGFS_F_PTP=y

### [BLUETOOTH] ###
CONFIG_BT=y
CONFIG_BT_RFCOMM=y
CONFIG_BT_HIDP=y
CONFIG_BT_HS=y
CONFIG_BT_LE=y
CONFIG_BT_DEBUGFS=y
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_3WIRE=y
CONFIG_BT_HCIUART_BCM=y
CONFIG_BT_HCIUART_QCA=y

### [NFC] ###
CONFIG_NFC=y
CONFIG_NFC_DIGITAL=y
CONFIG_NFC_NCI=y

### [SECURITY] ###
CONFIG_DM_CRYPT=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_CBC=y
CONFIG_CRYPTO_XTS=y
CONFIG_ECRYPT_FS=y
CONFIG_F2FS_FS=y
CONFIG_ZRAM=y
CONFIG_SECURITY=y
CONFIG_SECURITY_SELINUX=y

### [NETWORKING] ###
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_IPV6=y
CONFIG_IPV6_MULTIPLE_TABLES=y
CONFIG_NETFILTER=y
CONFIG_NETFILTER_XTABLES=y
CONFIG_NETFILTER_XT_MATCH_STRING=y
CONFIG_NETFILTER_XT_MATCH_LAYER7=y

### [KERNEL DEBUG] ###
CONFIG_KPROBES=y
CONFIG_UPROBES=y
CONFIG_BPF_SYSCALL=y
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
CONFIG_STRICT_DEVMEM=y

### [HID] ###
CONFIG_HID=y
CONFIG_HID_GENERIC=y
CONFIG_HIDRAW=y
CONFIG_UHID=y
CONFIG_USB_HID=y

### [USB HACKRF] ###
CONFIG_USB_VIDEO_CLASS=m
CONFIG_USB_VIDEO_CLASS_INPUT_EVDEV=y
CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_USB_SUPPORT=y
CONFIG_USB_GSPCA=m

### [802.11 INJECTION] ###
CONFIG_MAC80211_HWSIM=m
CONFIG_ATH9K_TX99=y
CONFIG_ATH5K=m
CONFIG_ATH5K_DEBUG=y
### [MAGISK] ###
CONFIG_OVERLAY_FS=y                # WYMAGANE dla Magiska/NetHunter
CONFIG_OVERLAY_FS_REDIRECT_DIR=y
CONFIG_OVERLAY_FS_INDEX=y
CONFIG_OVERLAY_FS_METACOPY=y

### [SECURITY] ###
CONFIG_SECCOMP=y                   # Wymagane przez nowsze Magisk
CONFIG_SECCOMP_FILTER=y
CONFIG_IKCONFIG=y                  # Debugowanie
CONFIG_IKCONFIG_PROC=y

### [MODULES] ###
CONFIG_MODULES=y                   # Wymagane dla Magisk
CONFIG_MODULE_UNLOAD=y
CONFIG_MODVERSIONS=y
